<!DOCTYPE html>

<html>

<head>

	<title>Create a new chat room!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				Private<span>WebChat</span>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/Chat.png" alt="chatlogo" id="chatlogo"/>
				<h2 id="chat">communication made easy and real time</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>
		</div>

	</section>

</body>
</html>
